@charset "utf-8";


@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/*

font-family: 'Playfair Display', serif;

*/


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    background-image: linear-gradient(to right, #E876D5, #B02599);
    font-family: 'Playfair Display', serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: auto;
}


h1 {
    background-color: #631556;
    border-bottom: 1px solid #E876D5;
    padding: 20px 40px;
    margin-bottom: 20px;
}


main {
    background-color: #63335B;
    color: white;
    padding: 1em;
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.363);
    overflow: hidden;
    width: 400px;
    max-width: 100%;
}


form {
    padding: 20px 40px;
}


.form-control {
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}


.form-control label {
    display: inline-block;
    margin-bottom: 5px;
}


.form-control input {
    border: 2px solid #63335B;
    border-radius: 5px;
    display: block;
    font-size: 14px;
    padding: 10px;
    width: 100%;
}


.form-control input:focus {
    outline: none;
}



.form-control.success input {
    border-color: green;
}


.form-control.error input {
    border-color: red;
}


.form-control small {
    visibility: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
    color: #9A9A9A;
}


.form-control.error small {
    visibility: visible;
    color: rgb(175, 20, 20);
}


.botao {
    background-color: #631556;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 14px;
    padding: 10px;
    width: 100%;
    cursor: pointer;
    -o-transition: 1s ease-in-out;
    -webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -ms-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
}


.botao:hover {
    background-color: #B02599;
    color: white;
}